body,
html{
  width: 100%;
  height: 100%;
}
#search-area{
  box-shadow: 0 2px 6px rgba(0,0,0,0.3);
  margin : 0;
  z-index : 1;
  top : 80px;
  position : absolute;
  display:flex;
  left: 20px;
	max-width: 50%;
	
	

}
#input: {
  margin : 0;
  z-index : 1;
  /*position : fixed;*/
  max-width:300px;
}
#search {
  margin : 0;
  z-index : 1;
  background-color: #FF9800;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border:none;
  cursor: pointer;
  outline: 0;
}
#map {
  top : 0;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
#list-div {
	z-index: 1;
	flex-wrap: wrap;
}
#list-element {
  box-shadow: 0 2px 6px rgba(0,0,0,0.3);
  padding:10px;
  cursor: pointer;
}
#list {
  box-shadow: 0 2px 6px rgba(0,0,0,0.3);
  top : 80px;
	padding: 0;
	position: absolute;
	z-index: 1;
	list-style: none;
	overflow-y: scroll;
	max-width: 200px;
	max-height: 400px;
	right : 10px;
	background-color : white;
}
@media only screen and (max-width: 500px) {
    #input{
	   width:100px;
	    }
	#input-type{
	   width:100px;}
		
	  #list{
	   width:125px;
	}h4{display:none;}
		
	
	
	

}
